# =====================================
# GitHub Linguist Language Override
# =====================================

# the main language — YAML
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
docker-compose.yml linguist-language=YAML
alertmanager/*.yml linguist-language=YAML
prometheus/config/*.yml linguist-language=YAML

# JSON — Grafana dashboards (maybe other config)
grafana/provisioning/dashboards/*.json linguist-language=JSON
grafana/provisioning/datasources/*.json linguist-language=JSON

# HTML — only text-file (for test nginx)
nginx/html/*.html linguist-language=HTML

# ignoring tmp or log
logs/* linguist-detectable=false
prometheus/data/* linguist-detectable=false
grafana/data/* linguist-detectable=false

# README и dosc NOT include for statistics
*.md linguist-detectable=false
screenshots/* linguist-detectable=false
