# =====================================
# GitHub Linguist Language Override
# =====================================

# YAML as CODE
* linguist-language=YAML
*.yml linguist-detectable=true
*.yaml linguist-detectable=true
docker-compose.yml linguist-detectable=true
alertmanager/*.yml linguist-detectable=true
prometheus/config/*.yml linguist-detectable=true
grafana/provisioning/datasources/*.yml linguist-detectable=true

# JSON (Grafana) as CODE
*.json linguist-language=JSON
grafana/provisioning/dashboards/*.json linguist-detectable=true
grafana/provisioning/datasources/*.json linguist-detectable=true

# HTML - NOT Include for stat
nginx/html/*.html linguist-detectable=false
*.html linguist-detectable=false

# ignore some files prometheus
prometheus/data/* linguist-vendored=true
prometheus/data/* linguist-detectable=false

# ignoring docs
*.md linguist-detectable=false
screenshots/* linguist-detectable=false
LICENSE linguist-detectable=false
