global:
  resolve_timeout: 5m

route:
  receiver: 'telegram'
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1h

receivers:
  - name: 'telegram'
    telegram_configs:
      - bot_token: ""
        chat_id: ""
        message: |
          *Alert:* ALERT_NAME
          *Instance:* INSTANCE
          *Description:* DESCRIPTION
          *Severity:* SEVERITY
